* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #ffffff;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111111;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.card {
  width: 280px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222222;
}



.card img {
  height: 160px;
  width: 160px;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px auto;
}

.card p {
  margin: 20px auto;
}

.card button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}