* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


html,body {
  height: 100%;
  width: 100%;
}

button {
  padding: 10px 20px;
  margin: 10px;
}

h1 {
  background-color: rgb(231, 226, 226);
  width: fit-content;
  font-size: 100px;
  padding: 10px 80px;
  border-radius: 4px;
  margin: 10px;
}