* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #111111;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111111;
}

.parent {
  min-height: 100vh;
  width: 100%;
  background-color: #111111;
  padding: 34px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: auto;
}

.card {
  height: 340px;
  width: 290px;
  border-radius: 34px;
  background-color: #ffffff;
  padding: 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 31px;
}

.top img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #dadadace;
  padding: 2px;
}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 13px;
  border-radius: 4px;
  gap: 3px; 
  background-color: transparent;
  color: #b1b1b1;
}

/* .center {
  background: teal;
} */

.center h3 {
  font-size: 17px;
  font-weight: 500;
}

.center h3 span {
  font-size: 11px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2 {
  font-size: 20px;
  font-weight: 600;
}

.center .tags {
  display: flex;
  gap: 4px;
  margin-top: 10px;
}

.center .tags h4 {
  font-size: 10px;
  background-color: #dadada;
  color: #111111;
  padding: 4px 8px;
  font-weight: 500;
  border-radius: 4px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 16px;
}

.bottom button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
}

.bottom h3 {
  font-size: 17px;
}

.bottom p {
  font-size: 13px;
  color: #8b8b8b;
}