* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
  margin: 10px;
}

input {
  margin: 10px;
  padding: 10px 20px;
}

.box {
  height: 200px;
  width: 200px;
  background-color: blue;
}

.page1 {
  height: 100vh;
  width: 100%;
  background-color: #111111;
}

.page2 {
  height: 100vh;
  width: 100%;
  background-color: #222222;
}

.page3 {
  height: 100vh;
  width: 100%;
  background-color: #333333;
}
.page4 {
  height: 100vh;
  width: 100%;
  background-color: #444444;
}