* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #ffffff;
}

html,body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111111;
}