.userContainer {
    background-color: antiquewhite;
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    margin: 1rem;
}

#userImage {
    height: 240px;
    width: 240px;
    border-radius: 50%;

}