.header {
  background-color: lightseagreen;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 4px;
}

.btn {
  background-color: yellow;
}

.text {
  text-decoration: underline;
}