ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    background-color: beige;
}

li >  {
    text-decoration: none;
}

.active-link {
    border: 2px solid blue;
}